.who-paid {
    /* variables */
    --color-bg: white;
}

.who-paid {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    width: 300px;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    line-height: 2rem;
}

.who-paid__item-name {
    box-sizing: border-box;
    border-bottom: 5px solid var(--color-forth);
}

.who-paid label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.who-paid button {
    margin-top: 1rem;
}
