.checkbox-group {
	display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkbox-group label {
	padding: 0 0.5rem;
	border: 1px solid var(--color-primary);
	border-radius: 1.5rem;
	text-align: left;
}

.checkbox-group input[type="checkbox"] {
	margin-right: 0.5rem;
}

.checkbox-group button {
	margin-top: 1rem;
}
