.add-items {
    /* variables */
    --color-bg: white;
}

.add-items {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    width: 300px;
    border: 1px solid var(--color-primary);
    border-radius: 20px;
    line-height: 2rem;
}

.add-items__lbl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.add-items__lbl-span {
    text-align: left;
}

.add-items__input-txt {
    line-height: 2rem;
}

.add-items__btn {
    margin-top: 1rem;
    line-height: 2rem;
}

.add-items__input-txt--err {
    box-shadow:
        0 0 0 2px var(--color-bg),
        0 0 0 4px red;
}
