.switch-transition-container {
    /* variables */
    --duration: 100
}

.switch-transition-container {
    margin: 5px auto;
}


/* Zoom in/out */
.switch-transition-container-enter {
    opacity: 0;
    transform: scale(0, 0);
}

.switch-transition-container-enter-active {
    opacity: 1;
    transform: scale(1, 1);
    transition: all calc(var(--duration) * 1ms);
}

.switch-transition-container-exit {
    opacity: 1;
    transform: scale(1, 1);
}

.switch-transition-container-exit-active {
    opacity: 0;
    transform: scale(0, 0);
    transition: all calc(var(--duration) * 1ms);
}



/* LEFT */
.switch-transition-container--left-enter {
    opacity: 0;
    transform: translateX(100%);
}

.switch-transition-container--left-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all calc(var(--duration) * 1ms);
}

.switch-transition-container--left-exit {
    opacity: 1;
    transform: translateX(0);
}

.switch-transition-container--left-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all calc(var(--duration) * 1ms);
}



/* RIGHT */
.switch-transition-container--right-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.switch-transition-container--right-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all calc(var(--duration) * 1ms);
}

.switch-transition-container--right-exit {
    opacity: 1;
    transform: translateX(0);
}

.switch-transition-container--right-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all calc(var(--duration) * 1ms);
}